---
type Props = {
    n: string;
    img: string;
    class?: string;
};

const { n, img, class: c } = Astro.props;
---

<div class="group relative flex w-fit flex-row items-center justify-center">
    <span class="border-border hover:bg-muted bg-overlay rounded border px-4 py-2">
        <img class=`h-6 w-6 ${c}` src={img} alt={`${n} logo`} />
    </span>
    <span class="border-border bg-muted absolute -top-full left-1/2 hidden w-fit -translate-x-1/2 transform rounded border px-4 py-2 text-center text-nowrap group-hover:block">{n}</span>
</div>
